/*
Colors used
color black #3b3b3b
color medium gray #bfbfbf
color light gray #dcdcdc
color white #ffffff
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #121212;
}

h1 {
  font-size: 2.4em;
  font-weight: 700;
}

h2 {
  font-size: 1.6em;
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-weight: 700;
}

a {
  color: #bfbfbf;
  text-decoration: none;
}

a:visited {
  color: #bfbfbf;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #3b3b3b;
}

footer a:hover,
footer a:focus {
  color: #ffffff;
}

a:active {
  text-decoration: none;
  color: #bfbfbf;
}

.button {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 10px;
  border-radius: none;
  border-bottom: 2px solid #ffffff;
  transition: 0.2s opacity;
  display: inline-block;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button-container {
  position: absolute;
  bottom: 0;
}

main {
  padding-top: 160px;
}

img {
  width: 100%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3b3b3b;
}

.container:hover .overlay {
  opacity: 0.9;
  padding: 0 10px;


}

.text {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 32px 0;
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.19);
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.19);
}

.logo-container {
  float: left;
  width: 33.33333%;
}

.logo {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .5em;
  text-decoration: none;
  color: #dcdcdc;
  float: left;
  padding-top: 16px;
}

span {
  font-weight: 300;
  important;
}

.logo:hover,
.logo:visited {
  text-decoration: none;
  color: #dcdcdc;
}

/*logo Animation*/
.anim-typewriter {
  animation: typewriter 1s steps(26) 1s 1 normal both;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typewriter {
  0% {
    width: 0ch;
  }

  100% {
    width: 26ch;
  }
}

/* sticky navigation bar.*/
nav {
  display: inline-block;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

nav ul li {
  display: inline-block;
  float: left;
  padding-right: 30px;
}

/*adding link animation instead/nav ul li:hover {
text-decoration: underline;
}

nav ul li:visited,
nav ul li:active {
text-decoration: none; /* what code will change the color for nav text when user is visiting an one of the under pages.*/
/*link animation*/
.anim-link {
  position: relative;
  color: #000;
  text-decoration: none;
}

.anim-link:hover {
  color: #3b3b3b;
}

.anim-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3b3b3b;
  transform: scaleX(0);
  transition: 0.3s ease-out;
}

.anim-link:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#hero {
  padding: 0 0 100px 0;
}

#hero h1 {
  margin-bottom: 0;
}

#hero p {
  font-weight: 300;
  font-size: 2.4em;
  margin-top: 0;
}

#hero h1, #hero p {
  display: inline;
}

#hero a {
  font-weight: 700;
  font-size: 2.4em;
}

.hero, footer h2, .row-contact ul:first-child, .small-text {
  margin-left: 33.33333%;
}

.hero, footer h2, .row-contact, .small-text, nav, {
  padding-left: 10px;
}

#projects {
  background-color: #fff;
  padding-bottom: 100px;
  margin-bottom: -20px;
}

.column {
  float: left;
  padding: 0 10px;
  position: relative;
}

footer .column, #skills .column {
  min-height: unset;
  padding-top: 30px;
}

.col-4 {
  width: 33.33333%;
}

.row {
  display: table;
  margin-left: -10px;
  margin-right: -10px;
}

footer .row {
  width: 100%;
  max-width: 100%;
}

footer {
  background-color: #121212;
  color: #bfbfbf;
  padding-bottom: 20px;
}

footer h2 {
  color: #bfbfbf;
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 30px;
}

.row-contact {
  padding-bottom: 30px;
  line-height: 2em;
}

.social-media {
  display: inline-block;
  float: left;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.small-text {
  font-size: .8em;
  color: #5e5e5e;
  letter-spacing: .2em;
}

/*layout styling for about page*/
#about {
  margin-top: -33px;
}

#about h1 {
  display: inline-block;
}

.col-8 {
  width: 66.66666%;
  padding-top: 15px;
}

#about p {
  display: inline-block;
  float: left;
}

.strong-text {
  font-size: 1.2em;
  font-weight: 700;
}

#about .container {
  padding-bottom: 50px;
}

#skills {
  background-color: #ededed;
}

#skills .container {
  padding-top: 50px;
  padding-bottom: 90px;
}

#skills h2 {
  width: 33.33333%
}

.icon {
  width: 45px;
  display: inline-block;
  float: left;
  padding-right: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.img-cover {
  padding-top: 60px;
  height: 500px;
}

/*layout styling for my-projects page*/
.next-row {
  padding-top: 60px;
}

#brief .column, #discovering .column, #concepting .column, #designing .column, #testing .column, #visualising .column {
  min-height: inherit;
  padding-bottom: 60px;
}

.second-child {
  margin-left: 33.33333%;
}

.img-wide {
  width: 100%
}

.col-6 {
  width: 50%;
}


/*layout styling for expert page*/
#discovering, #designing, #visualising {
  background-color: #ededed;
}

#discovering .container, #designing .container, #visualising .container, #testing .container, #concepting .container, #brief .container {
  padding-bottom: 30px;
}

/* Style the hamburger menu */
.menu-toggle {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  color: #3b3b3b;
  width: 100%;
}


/*smaller than 1023px*/
@media all and (max-width: 1023px) {
  #hero {
    padding: 0 0 60px 0;
  }

  header {
    padding: 15px 0;
  }

  #hero h1, #hero p, #hero a, #about h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }

  .column {
    min-height: 430px;
  }

}
/* Hide the icon that should open and close the navbar on small screens */


/*smaller than 767px*/
@media all and (max-width: 767px) {
  #hero {
    padding: 0 0 30px 0;
  }

  header {
    padding: 10px 0;
  }

  nav ul li {
    padding-right: 39px;
  }

  #hero h1, #hero p, #hero a, #about h1 {
    font-size: 1.3em;
  }

  .column {
    min-height: unset;
    position: unset;
    padding-bottom: 30px;
  }

  #about .column {
    padding-bottom: 0px;
  }

  .button-container {
    position: unset;
    bottom: 0;
  }

  .hero, footer h2, .row-contact ul:first-child, .small-text, .second-child {
    margin-left: 0px;
  }

  .hero, footer h2, .row-contact, .small-text, nav, {
    padding-left: 0px;
  }

  .col-4 {
    width: 100%;
  }

  #projects {
    padding-bottom: 0;
  }

  .col-8 {
    width: 100%;
    padding-top: unset;
  }

  .next-row {
    padding-top: unset;
  }

  #brief .column, #discovering .column, #concepting .column, #designing .column, #testing .column, #visualising .column {
    padding-bottom: 0px;
  }

  #brief .col-4 {
    padding-bottom: 0px;
  }

  /*Responsiv Topnav*/
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #links {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: #dcdcdc;
    padding: 14px 16px;
    display: block;
  }

  .topnav li {
    display: block;
    font-size: 1.5em;
  }

  /* Style the hamburger menu */
  .menu-toggle {
    display: block;
  }

}
